@import "base/markup-variables";
@import "base/base-reset";

html{
	height: 100%;
}

body{
	height: 100%;
	background: #C0C0C0;
	position: relative;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

#wrapper{
	overflow: hidden;
	height: 100%;
	text-align: center;
}

.map{
	width: 80%;
	height: 80%;
	vertical-align: middle;
}

#wrapper:after{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.area{
	stroke: #eee;
	fill: #4ea1d9;
}