@import "base/markup-variables";
@import "base/base-reset";

html{
	height: 100%;
}

body{
	min-height: 100%;
	background: #C0C0C0;
	position: relative;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

#wrapper{
	overflow: hidden;
}
